.form{
    font-size: 16px;
    border: 8px solid rgb(10, 10, 10);
    border-radius: 15px;
    
    padding: 12px;
}
.form label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .form input {
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    border-width: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    border-image: linear-gradient(to right, #007bff, #ff5733) 1;
    border-image-slice: 1;
  }

  .custom-button {
    background-color: #bbc9d9; /* Color de fondo del botón */
    color: #f1e6e6; /* Color del texto del botón */
    padding: 10px 30px; /* Espaciado interno del botón (arriba y abajo, izquierda y derecha) */
    border: none; /* Quita el borde predeterminado del botón */
     
border-radius: 5px; /* Bordes redondeados */
cursor: pointer; /* Cambia el cursor al pasar por encima */
font-size: 16px; /* Tamaño del texto */
position: absolute; 
top:340px;
left: 450px;
  }
  .custom-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
  }
  